*.o
model.*.txt
model.*.xml
methods.*.xi
methods.*.txt
types.xi
call
packs/
unpacked/
packs.mk
header.*.h
impl.*.cc
*.strings.cc
libimpl.so
mk-gen/*
rw.hex
sum.hex
break.hex
io.hex
rw.elf
sum.elf
break.elf
io.elf
